<link href="~/css/NavBarStyle.css" rel="stylesheet" />
<script src="~/js/NavBarJS.js"></script>
<style>
</style>

<nav id="MyNavBar" class="navbar navbar-dark bg-white shadow">

    <div class="dropdown show item-mar">
        <button class="nav-link nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="b" aria-haspopup="true" aria-expanded="false">
            <span>О нас</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div class="dropdown show item-mar">
        <button class="nav-link nav-item dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Наш опыт</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div class="dropdown show  item-mar">
        <button class="nav-link nav-item dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Наши услуги</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div class="dropdown show  item-mar">
        <button class="nav-link nav-item dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Продукты 1С</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div class="dropdown show  item-mar">
        <button class="nav-link nav-item dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Обучение</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div class="dropdown show  item-mar">
        <button class="nav-link nav-item dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Материалы</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <a href="#" class="nav-item nav-link item-mar">
        <span>Контакты</span>
    </a>

    <div class=".BurgerBox" onclick="myFunction(this)" style="position:absolute;right:30px">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <img src="https://icgroup.az/upload/medialibrary/3e7/logo.png" alt="Logo" class="Logo" />

</nav>
    @*<div class="col-4 dropright">
        <button class="nav-item btn btn-danger" style="margin-right:10px">daxil ol</button>
        <button class="nav-item btn btn-danger">qediyyat</button>
          </div>*@
